<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name,:class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name,:class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number,:class => "form-control"%>
  </div>

  <h3>Booking Details</h3>
  <div class="form-group">
    <%= f.fields_for :bookings, @customer.bookings do |f_booking| %>
      <div class="form-group">
        <%= f_booking.label :date %><br>
        <%= f_booking.text_field :date, :class => "form-control",:type => "date"%>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
