
<%= form_for(@city) do |f| %>
  <%= render 'shared/validation_errors', object: @city %>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name,:class => "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
