<!DOCTYPE html>
<html>
<head>
  <title>Homework</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main-container" class="container">
    <div class="row">
      <div class="col-xs-12">
        <% if admin_signed_in? %>
          <%= link_to('Logout', destroy_admin_session_path, :method => :delete) %>
          <ul>
            <li><%= link_to 'Cleaners', cleaners_path %></li>
            <li><%= link_to 'Customers', customers_path %></li>
            <li><%= link_to 'Cities', cities_path %></li>
          </ul>
        <% elsif params[:controller] == 'admins' %>
          <%= link_to('Login', new_admin_session_path)  %>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <hr>
</body>
</html>
